#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.9rem;
    z-index: 9999;
    user-select:none;
    background:#f4f0e6;
    color:#4b3f2f;
  }

  #content {
    display: none;
    text-align: center;
    padding: 20px;
  }

  .spinner {
    border: 6px solid #8b7a63;
    border-top: 6px solid #4b3f2f;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    margin-right: 10px;
    user-select:none;
    color:#4b3f2f;
    
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }