


.sidebar {
    position: absolute;
    top: 0;
    right: -75px;
    height: 100vh;
    width: 125px;
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: right 1s ease;
    overflow: hidden;
    z-index:3;
    user-select: none; 
}

.sidebar.expanded {
    width: 125px;
    right:0;
}

.menu-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 50px;
    max-width: 50px;
    height: 50px;
    font-size: 16px;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.menu-button-wrapper{
    background-color: transparent;
    width: 50px;
    max-width: 50px;
    height: 100vw;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sidebar-icons-wrapper
{
    width:100%;
    height: 100vh;
    justify-content:space-around;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: burlywood;

}

.sidebar-icons-wrapper > img{
    height:45px;
    width:45px;
}

.menu-button > img{
    height:50px;
    width:50px;
}
.menu-button.fadeOut > img{
    opacity: 0;
    animation-name: fadeOut;
    animation-duration: 1s;

}

.menu-button.fadeIn > img{
    animation-name: fadeIn;
    animation-duration: 1s;
}


.icon {
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 100%;
    height: 100%;
    font-size: 16px;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icon-text {
    color: white;
    margin-left: 15px;
    font-size: 16px;
    display: none;
}

.sidebar.expanded .icon-text {
    display: inline;
}

.sidebar.expanded + .sidebar-content{
    width: calc(100% - 200px);
}



@keyframes fadeOut
{
    0%
    {
        opacity: 1;
    }
    100%
    {
        opacity:0;
    }
}

@keyframes fadeIn
{
    0%
    {
        opacity: 0;
    };
    100%
    {
        opacity:1;
    };
}
