
.sidebar {
    position: absolute;
    top: 0;
    right: -75px;
    height: 100vh;
    width: 140px;
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: right 0.5s ease;
    overflow: hidden;
    z-index:3;
    user-select: none; 
    pointer-events: none;
}

.sidebar.expanded {
    right:0;
}

.menu-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 65px;
    max-width: 65px;
    height: 60px;
    font-size: 16px;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
    pointer-events: auto;
}

.menu-button-wrapper{
    background-color: transparent;
    width: 65px;
    max-width: 65px;
    height: 100vw;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sidebar-icons-wrapper
{
    width:100%;
    height: 65vh;
    justify-content:space-around;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #f4f0e6;
    /*-left: 2px solid #8b7a63;*/
    pointer-events: auto;
    margin-top: 2.5vh;

}

.sidebar-icons-wrapper > img{
    height:45px;
    width:45px;
}

.menu-button > img{
    height:65px;
    width:65px;
}
.menu-button.fadeOut > img{
    opacity: 0;
    animation-name: fadeOut;
    animation-duration: 0.5s;

}

.menu-button.fadeIn > img{
    animation-name: fadeIn;
    animation-duration: 0.5s;
}


.icon {
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 100%;
    height: 100%;
    font-size: 16px;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sidebar-main{
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
    padding:0;
    margin:0;
    width: 100%;
    height:100%;
    background-color: #f4f0e6;
    border-left: 2px solid #8b7a63;
    pointer-events: auto;
}

.beozoovrt-img{
    width:100%;
    height:10vh;
    pointer-events: all;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px  dashed #8b7a63;
}

.beozoovrt-img > a > img{
    width:50px;
    height:50px;
}

.link-text{
    position: absolute;
    bottom: 0;
    color:#333;
    font-size: 15px;
    font-weight: bolder;
    font-family: Arial, sans-serif;
    pointer-events: none;
    }

@keyframes fadeOut
{
    
    0%
    {

        opacity: 1;
    }
    100%
    {

        opacity:0;
    }
}

@keyframes fadeIn
{
    0%
    {

        opacity: 0;
    };
    100%
    {

        opacity:1;
    };
}
