body{
    padding:0;
    margin:0;
    overflow: hidden;
}
#map {
    height: 100vh;  /* Adjust the height as needed */
    width:100vw;
    position:absolute;
    left:0;
    z-index: 0;
    background-color: #f0f8ff;
    background: url("testBG.jpg");
}
.leaflet-control {
    border-radius: 5px;
    background-color: #f0f8ff;
    color: #333;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}
.leaflet-popup-content-wrapper {
    background-color: #f0f8ff; /* Match the window color */
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.leaflet-popup-tip {
    background-color: #f0f8ff;
}


#animal-window {
    width:calc(100% - 30px);
    overflow: hidden;
    font-family: Arial, sans-serif;
    position: absolute;
    display: none;
    user-select: none;
    background: #f4f0e6;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    height: auto;
    min-height:100%;
    border: 2px solid #8b7a63;
    z-index: 5;
    max-width: 500px;
    max-height: 800px;
}
.position-content-wrapper
{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

/* Title styling (animal name) */
.animal-title {

    font-size: 28px;
    font-weight: bold;
    color: #4b3f2f;
    margin-bottom: 15px;
    border-bottom: 2px solid #8b7a63;
    padding-bottom: 10px;
}

/* Close button styling */
.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    /*font-size: 18px;*/
    display: flex;
    justify-content: center;
    background: #d9534f;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 25px;
    padding:0;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Image styling */
.animal-image {
    width: auto;
    height: auto;
    max-height:60vh;
    /*margin-left:5%;*/
    border-radius: 10px;
    margin-top: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);

}
.animal-description-wrapper
{
    border-bottom: 2px dashed #8b7a63;
    padding-top:10px;
    padding-bottom: 10px;
    overflow: hidden;

}
/* Scrollable description area */
.animal-description {
    font-family: sans-serif;
    border-top: 2px dashed #8b7a63;
    /*max-height: 25vh;*/

    overflow-y: scroll;
    margin-top: 15px;
    font-size: 19px;
    padding: 20px;
    color: #464545;
    border-radius: 5px;
    backface-visibility: hidden;
    line-height: 1.6;
}
    /* Custom scrollbar styling */
    .animal-description::-webkit-scrollbar {
        width: 8px;

      }
      .animal-description::-webkit-scrollbar-track {
        background: #d2c7b2;
        border-radius: 10px;
      }
      .animal-description::-webkit-scrollbar-thumb {
        background-color: #8b7a63;
        border-radius: 10px;
        border: 2px solid #d2c7b2;
      }
      .animal-description::-webkit-scrollbar-thumb:hover {
        background-color: #726651;

      }
/* Input box styling */
.animal-input {
    width: calc(100% - 30px);
    padding: 10px;
    margin: 15px;
    border: 2px solid #4CAF50;
    border-radius: 4px;
    font-size: 16px;
    color: #333;
    background-color: #f0f0f5;
}

.animal-input:focus {
    outline: none;
    background-color: #e6e6f0;
    border-color: #3e8e41;
}


@media (max-width: 480px) {

    .animal-title {
      font-size: 19px;
    }

  }

@media (max-width: 520px)
{
    .animal-description{
        max-height: calc(55vh - 30vw);
    }

}
@media(orientation: landscape)
{
    @media(max-height:600px)
    {
        #animal-window{
            left:5%;
            max-width: 100%;
            width:calc(90% - 30px);
        }
        .position-content-wrapper
        {
            flex-direction: row;
            height: 70%;
        }
        .animal-description-wrapper
        {
            width:40%;
            right: 5vw;
            bottom:auto;
        }
        .animal-description
        {
            font-size: 18px;
        }
        
            @media (max-width: 520px)
            {
                #animal-window
                {
                    top:5%;
                }
                .animal-description{
                    max-height: 40vh;
                }

            }

    }
}


@media (min-width: 474px)
{
    .animal-title{
        font-size: 20px;
    }
}

